* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #FA6802;

}

.container {
    max-width: 1170px;
    margin: auto;

}

.logo {
    height: 80px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;

}

.top-menu li {
    padding: 12px;
}

.user-menu li {
    padding: 12px;
}

main {
    padding-top: 100px;
}

.tag {
    padding: 6px;
    margin-right: 6px;
    color: white;
}

.sconto {
    background-color: red;
}

.eco {
    background-color: green;
}

.main-img {
    display: block;
}

.sec-img {
    display: none;
}

.product-img {
    position: relative;
}

.wishlist {
    right: 0;
    top: 30px;
    font: 30px;
    padding: 5px;
    position: absolute;
}