* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #FA6802;

}

.container {
    max-width: 1170px;
    margin: auto;

}

.logo {
    height: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
}

a {
    color: white;
    text-decoration: none;

}

.top-menu li {
    padding: 12px;
}

.user-menu li {
    padding: 12px;
}

main {
    padding-top: 100px;
}

.tag {
    padding: 6px;
    margin-right: 6px;
    color: white;
}

.sconto {
    background-color: red;
}

.eco {
    background-color: green;
}

.main-img {
    display: block;
}

.sec-img {
    display: none;
}

.product-img {
    position: relative;
}

.wishlist {
    right: 0;
    top: 3px;
    font: 3px;
    padding: 1px;
    position: absolute;
    background-color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.product {
    width: calc(100% / 3);
}

.product-img {
    width: 100%;
}

img {
    width: 200px;
}

footer .container {
    display: flex;
    padding: 20px 10px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black;
    color: white;
   
}

footer ul {
    display: flex;
    list-style-type: none;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
}